@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", serif;
}

:root{
    --primary-color:#0D1821;
    --secondary-color: #172B3A;
    --main-color: #AD2831;
    --hover-color: hwb(0 13% 1%);
    --body-color: #1E1E2E;
    --container-color: #2d2e37;
    --text-color: #fcfeff;
}

body{
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


header{
    padding:0.3rem;
    display:flex;
    justify-content: flex-end;
    background-color: var(--secondary-color);
}
.container {
    
    margin: auto;
    width: 100%;
}
header {
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--secondary-color);
    z-index: 100;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}
.logo {
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 auto 0 1rem;  
}
#form {
    max-width: 240px;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 0.7rem;
    padding: 8px 15px;
    background-color: var(--container-color);
    border-radius: 4rem;
    margin-right: 1rem;
}
#form .bx { font-size: 1rem; }
#form .bx:hover { color: var(--main-color); }
.logo span { color: var(--main-color); }
#search {
    width: 100%;
    border: none;
    outline: none;
    color: var(--text-color);
    background-color: transparent;
    font-size: 1rem;
}
.search{
    background-color: transparent;
    border: 2px solid var(--primary-color);
    padding:0.5rem 1rem;
    gap: 5rem;
    border-radius: 50px;
    font-size: 1rem;
    color:#fff;
    font-family: inherit;
}

.search:focus{
    outline:0;
    background-color: var(--primary-color);
}

.search::placeholder{
    color: var(--text-color);
}
.user-img {
    margin-right: 0.75rem;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #b7b7b7;
}
.nav-link:hover {
    color: var(--text-color);
    transition: 0.3s all linear;
    transform: scale(1.1)
}
.nav-link .bx { font-size: 1.7rem; }
.nav-link-title { font-size: 0.7rem; }

.home{
    max-width: 1300px;
    position: relative;
    min-height: 470px;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    border-radius: 0.5rem;  
}
.home-img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    border-radius: 1rem;
  
}
.home-text { padding-left: 40px; }
.home-title{
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 600;
}
.home-text p{
    font-size: 0.9rem;
    margin: 10px 0 20px;
    color: var(--main-color);
}
.watch-btn{
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
    color: var(--text-color);
}
.watch-btn .bx {
    font-size: 20px;
    background: var(--main-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.watch-btn .bx:hover{
    font-size: 1rem;
    font-weight: 400;
}
.popular-container{
    max-width: 1300px;
    position: relative;
    min-height: 470px;
    display: flex;
    align-items: center;
    margin-top: 2rem;
    border-radius: 0.5rem;
}
.heading {
    color: var(--text-color);
    margin-block: 2rem; 
    margin-inline: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--container-color);
    padding: 8px 14px;
    border: 1px solid hsl(200 100% 99%/5%);
    border-radius: 1rem;
 }
/*--revisar aca
.heading{
    max-width: 1300px;
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 2rem;
    border-radius: 0.5rem;
    justify-content: center;
    background: var(--container-color);
    padding: 8px 14px;
    border: 1px solid hsl(200 100% 99%/5%);
    margin-bottom: 2rem;
}
.heading-title{
    
    font-size: 1.2rem;
    font-weight: 500;
}--*/
main{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.navbar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 18px;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
.movie {
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    background-color: var(--secondary-color);
    position:relative;
    overflow: hidden;
}

.movie img{
    width:100%;
}

.movie-info{
    color:#eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3{
    margin-top: 0;
}

.movie-info span{
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green{
    color:lightgreen;
}

.movie-info span.orange{
    color:orange;
}

.movie-info span.red{
    color:red;
}

.overview{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    background-color: #fff;
    padding: 1rem;
    max-height: 100%;
    transform:translateY(101%);
    transition:transform 0.3s ease-in;
}

.movie:hover .overview{
    transform:translateY(0)
}

#tags{
    width:80%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.tag{
    color:var(--text-color);
    padding:10px 20px;
    background-color: var(--main-color);
    border-radius: 50px;
    margin:5px;
    display:inline-block;
    cursor: pointer;
}
.tag:hover { color: var(--primary-color); }
.tag.highlight{
    background-color: var(--main-color);
}
.no-results{
    color:var(--text-color);
}

.pagination{
    display:flex;
    margin:10px 30px;
    align-items: center;
    justify-content: center;
    color:var(--text-color);
}

.page{
    padding:20px;
    cursor:pointer;
}

.page.disabled{
    cursor:not-allowed;
    color:grey;
}

.current{
    padding: 10px 20px;
    border-radius: 50%;
    border: 5px solid var(--main-color);
    font-size: 20px;
    font-weight: 600;
}

.know-more{
    background-color: var(--main-color);
    color:white;
    font-size: 16px;
    font-weight: bold;
    border:0;
    border-radius: 50px;
    padding: 10px 20px;
    margin-top: 5px;
    section {
    padding: 3rem 0 2rem;


}
img { width: 100vh; }
.bx { cursor: pointer; }
body {
    background-color: var(--primary-color);
    color: var(--text-color);
}
.container {
    
    margin: auto;
    width: 100%;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--secondary-color);
    z-index: 100;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}
.logo {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 auto 0 0;
}
.logo span { color: var(--main-color); }
#form {
    max-width: 240px;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 0.7rem;
    padding: 8px 15px;
    background-color: var(--container-color);
    border-radius: 4rem;
    margin-right: 1rem;
}
#form .bx { font-size: 1.25rem; }
#form .bx:hover { color: var(--main-color); }
#search {
    width: 100%;
    border: none;
    outline: none;
    color: var(--text-color);
    background-color: transparent;
    font-size: 1rem;
}
.user-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.navbar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 18px;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #b7b7b7;
}
.nav-link:hover, .nav-active {
    color: var(--text-color);
    transition: 0.3s all linear;
    transform: scale(1.1)
}
.nav-link .bx { font-size: 1.7rem; }
.nav-link-title { font-size: 0.7rem; }
.home{
    position: relative;
    min-height: 470px;
    display: flex;
    align-items: center;
    margin-top: 5rem;
    border-radius: 0.5rem;  
}
.home-img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    border-radius: 1rem;
  
}
.home-text { padding-left: 40px; }
.home-title{
    font-size: 2rem;
    font-weight: 600;
}
.home-text p{
    font-size: 0.9rem;
    margin: 10px 0 20px;
    color: var(--main-color);
    cursor: pointer;
}

}
.know-more:hover { color: var(--primary-color); }
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 10%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }


  .embed.hide{
      display: none;
  }

  .embed.show{
      display: inline-block;
  }

  .arrow{
      position: absolute;
      font-size: 40px;
  }

  .arrow.left-arrow{
      top:50%;
      left:5%;
      transform: translateY(-50%);
  }

  
  .arrow.right-arrow{
    top:50%;
    transform: translateY(-50%);
    right:5%;
}

.dots{
    margin-top: 30px;
}

.dots .dot {
    padding: 5px 15px;
    border-radius: 50%;
    border: 5px solid var(--secondary-color);
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin: 5px;
}

.dots .dot.active{
    border-color: var(--main-color);
}