@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');



*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", serif;
}

:root{
  --primary-color:#0D1821;
  --secondary-color: #172B3A;
  --main-color: #AD2831;
  --hover-color: hwb(0 13% 1%);
  --body-color: #1E1E2E;
  --container-color: #2d2e37;
  --text-color: #fcfeff;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', sans-serif;
}
